version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: src/Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5001:80"

  web:
    build:
      context: .
      dockerfile: src/Client/BlazorWeb/Dockerfile
    ports:
      - "5174:80"
